<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="bootstrap.min.css">
		<title>DOJO</title>
	</head>
	<body ng-app="dojo">
		<div class="container">
			<div class="header">
				<h1>Check ton film</h1>
			</div>
			<div class="row" ng-controller="MovieController">
				<div class="jumbotron col-md-8">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" placeholder="ID IMDb, titre, année" class="form-control"></input>
							</div>
							<div class="form-group">
								<input type="text" placeholder="Titre" class="form-control" ng-model="title" ng-change="getMovie()"></input>
								<input type="text" placeholder="Année" class="form-control" ng-model="year" ng-change="getMovie()"></input>
							</div>
							<div class="form-group">
								<input type="text" placeholder="ID IMDb" class="form-control" ng-model="id" ng-change="getMovie()"></input>
							</div>
							<div ng-if="response">
								<div class="form-group" ng-if="response.Poster != 'N/A'">
									<img ng-src="{{response.Poster}}" width="100%" class="img-square"/>
								</div>
								<div class="form-group">
									<button type="button" class="btn btn-success btn-block" ng-click="addMovie()" ng-if="!isMovieInList()">Je prends</button>
									<button type="button" class="btn btn-danger btn-block" ng-click="removeMovie()" ng-if="isMovieInList()">Je jette</button>
								</div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="alert alert-danger" role="alert" ng-if="error">{{error}}</div>
							<div class="panel panel-default" ng-if="response">
								<div class="panel-body">
									<div class="row" ng-repeat="k in movieKeys" ng-if="k != 'Poster'">
										<label class="col-md-3">{{k}}</label>
										<div class="col-md-9">{{response[k]}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<table class="table table-striped">
						<tr>
							<th ng-repeat="k in moviesListKeys">{{k}}</th>
						</tr>
						<tr ng-repeat="m in moviesList">
							<td ng-repeat="k in moviesListKeys">{{m[k]}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>